*
{
  padding:0;
  margin:0;
}
:root
{
  --h:50px;
}
#svg_second_path,#svg_minute_path,#svg_hour_path,#svg_day_path
{
  transition:stroke-dasharray linear 1s;
}
.loader
{
  width:100%;
  height:100%;
  position:fixed;
  top:0;
  left:0;
  background:#1976D2;
  z-index:1000;
}
.loader .loadcontainer
{
  display:inline-block;
  width:auto;
  height:auto;
  position:relative;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
}
.loader .loadcontainer .c
{
  --l:3vmin;
  display:inline-block;
  width:var(--l);
  height:var(--l);
  text-align:center;
  box-sizing:border-box;
  border-radius:50%;
  position:relative;
  top:0;
  left:0;
  transform:translateY(10vmin);
  margin:calc(var(--l) / 2);
  background-color:#FFFFFF;
  opacity:0;
}
.loader .loadcontainer .c:nth-child(1)
{
  animation:load 0.75s linear 0s infinite alternate;
}
.loader .loadcontainer .c:nth-child(2)
{
  animation:load 0.75s linear 0.25s infinite alternate;
}
.loader .loadcontainer .c:nth-child(3)
{
  animation:load 0.75s linear 0.5s infinite alternate;
}
.loader .loadcontainer .c:nth-child(4)
{
  animation:load 0.75s linear 0.75s infinite alternate;
}
.loader .loadcontainer .c:nth-child(5)
{
  animation:load 0.75s linear 1s infinite alternate;
}
.loader .loadcontainer .c:nth-child(6)
{
  animation:load 0.75s linear 1.25s infinite alternate;
}
.loader .loadcontainer .c:nth-child(7)
{
  animation:load 0.75s linear 1.5s infinite alternate;
}
.loader .loadcontainer .c:nth-child(8)
{
  animation:load 0.75s linear 1.75s infinite alternate;
}
.loader .loadcontainer .c:nth-child(9)
{
  animation:load 0.75s linear 2s infinite alternate;
}
.loader .loadcontainer .c:nth-child(10)
{
  animation:load 0.75s linear 2.25s infinite alternate;
}
@keyframes load
{
  0%
  {
    transform:translateY(10vmin);
    opacity:0;
  }
  50%
  {
    transform:translateY(0vmin);
    opacity:1;
  }
  100%
  {
    transform:translateY(-10vmin);
    opacity:0;
  }
}
.hidden
{
  display:none;
  width:0;
  height:0;
  position:absolute;
  opacity:0;
  visibility:hidden;
}
@font-face
{
  font-family:"Lemon";
  src:url("../font/lemon.ttf");
}
@font-face
{
  font-family:"Digital-7";
  src:url("../font/digital-7.ttf");
}
@font-face
{
  font-family:"Roboto";
  src:url("../font/Roboto.ttf");
}
body,div.container
{
  background:#0D47A1 url("../images/blue.jpg");
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  user-select:none;
  min-width:160px;
  overflow:hidden;
  height:100%;
}
div.container
{
  width:100%;
  height:100%;
}
div.nav
{
  width:100%;
  height:var(--h);
  box-sizing:border-box;
  box-shadow:0px 0px 5px 1px #000000;
  background:#1565C0;
  position:relative;
  z-index:100;
}
div.nav div.title
{
  display:inline;
  height:var(--h);
  font-size:25px;
  line-height:var(--h);
  padding-left:8px;
  color:#FFFFFF;
  font-family:"Lemon",sans-serif;
  font-weight:900;
  letter-spacing:1px;
  float:left;
  text-shadow:0px 0px 5px #000000;
}
@media (min-width:600px)
{
  div.nav div.title
  {
    padding-left:12px;
  }
}
div.nav div.menu
{
  width:var(--h);
  height:var(--h);
  float:right;
  position:absolute;
  top:0;
  right:0;
  padding:calc(var(--h) * 0.2) calc(var(--h) * 0.175);
  display:grid;
  grid-template-columns:1fr;
  grid-template-rows:repeat(3,1fr);
  grid-gap:calc(var(--h) * 0.125);
  box-sizing:border-box;
}
div.nav div.menu div.bar
{
  display:block;
  width:100%;
  height:100%;
  background-color:#FFFFFF;
  border:0.5px solid #000000;
  transition:background-color 0.3s;
}
div.nav div.menu:hover div.bar
{
  background-color:#BBDEFB;
}
div.navcontainer
{
  width:100%;
  height:calc(100% - var(--h));
  background:#1976D2;
  position:absolute;
  bottom:0;
  left:0;
  z-index:5;
  display:grid;
  grid-template-columns:repeat(2,1fr);
  grid-template-rows:repeat(3,1fr);
  grid-gap:10px;
  padding:10px;
  box-sizing:border-box !important;
  transform:translateY(-100%);
  transition:transform ease-in-out 0.8s;
  overflow:hidden;
}
@media (max-width:320px),(min-height:320px)
{
  div.navcontainer
  {
    grid-gap:8px;
    padding:8px;
  }
}
@media (min-width:320px)
{
  div.navcontainer
  {
    grid-gap:10px;
    padding:10px;
  }
}
@media (min-width:482px)
{
  div.navcontainer
  {
    grid-gap:15px;
    padding:15px;
  }
}
@media (min-width:1024px)
{
  div.navcontainer
  {
    grid-gap:20px;
    padding:20px;
  }
}
@media (min-width:1200px)
{
  div.navcontainer
  {
    grid-gap:25px;
    padding:25px;
  }
}
@media (orientation:landscape)
{
  div.navcontainer
  {
    grid-template-columns:repeat(3,1fr);
    grid-template-rows:repeat(2,1fr);
  }
}
div.expand
{
  transform:translateY(0%);
}
div.collapse
{
  transform:translateY(-100%);
}
div.navcontainer a.link
{
  width:100%;
  min-width:100%;
  height:100%;
  display:flex;
  flex-direction:column;
  line-height:var(--h);
  color:#FFFFFF;
  text-decoration:none;
  text-align:center;
  background:rgba(255,255,255,0.13);
  border-radius:10px;
  padding:8px;
  transform:scale(0.6,0.6);
  box-sizing:border-box !important;
}
@keyframes grow
{
  0%
  {
    transform:scale(0.6,0.6);
  }
  100%
  {
    transform:scale(1,1);
  }
}
div.expand a.link
{
  transform:scale(0.6,0.6);
  animation:grow 0.6s linear 1 forwards;
}
div.navcontainer a.link:nth-child(1)
{
  animation-delay:0.1s;
}
div.navcontainer a.link:nth-child(2)
{
  animation-delay:0.15s;
}
div.navcontainer a.link:nth-child(3)
{
  animation-delay:0.2s;
}
div.navcontainer a.link:nth-child(4)
{
  animation-delay:0.25s;
}
div.navcontainer a.link:nth-child(5)
{
  animation-delay:0.3s;
}
div.navcontainer a.link:nth-child(6)
{
  animation-delay:0.35s;
}
div.collapse a.link
{
  transform:scale(1,1);
}
div.navcontainer a.link div.home
{
  background-image:url("../images/home.svg");
}
div.navcontainer a.link div.rules
{
  background-image:url("../images/rules.svg");
  background-size:65%;
}
div.navcontainer a.link div.contact
{
  background-image:url("../images/contact.svg");
  background-size:82%;
}
div.navcontainer a.link div.leaderboard
{
  background-image:url("../images/leaderboard.svg");
  background-size:65%;
}
div.navcontainer a.link div.signup
{
  background-image:url("../images/signup.svg");
  background-size:95%;
}
div.navcontainer a.link div.signin
{
  background-image:url("../images/signin.svg");
  background-size:85%;
}
div.navcontainer a.link div.logout
{
  background-image:url("../images/logout.svg");
  background-size:85%;
}
div.navcontainer a.link div.hunt
{
  background-image:url("../images/hunt.svg");
  background-size:75%;
}
div.navcontainer a.link div.icon
{
  width:100%;
  height:100%;
  max-width:28vmin;
  max-height:28vmin;
  background-position:center;
  background-size:80%;
  background-repeat:no-repeat;
  margin:auto;
  flex-grow:0;
}
@media (orientation:landscape) and (max-height:250px)
{
  div.navcontainer a.link div.icon
  {
    max-width:10px;
    max-height:10px;
  }
}
@media (orientation:landscape) and (max-height:350px)
{
  div.navcontainer a.link div.icon
  {
    max-width:40px;
    max-height:40px;
  }
}
@media (orientation:landscape) and (max-height:450px)
{
  div.navcontainer a.link div.icon
  {
    max-width:50px;
    max-height:50px;
  }
}
div.navcontainer a.link div.title
{
  width:100%;
  font-family:"Roboto",sans-serif;
  font-size:14px;
  letter-spacing:1px;
  padding:none;
  height:auto;
  line-height:normal;
  padding-top:8px;
  padding-bottom:4px;
}
@media (min-width:600px)
{
  div.navcontainer a.link div.title
  {
    font-size:16px;
  }
}
@media (min-width:800px)
{
  div.navcontainer a.link div.title
  {
    font-size:18px;
  }
}
@media (min-width:1000px)
{
  div.navcontainer a.link div.title
  {
    font-size:20px;
  }
}
div.contents
{
  width:100%;
  height:calc(100% - var(--h));
  display:flex;
  flex-direction:row;
}
div.contents div.main
{
  width:100%;
  padding:8px;
  box-sizing:border-box;
  overflow:auto;
}
@media (max-width:300px)
{
  div.contents
  {
    flex-direction:column;
  }
  div.contents div.main
  {
    height:100%;
    width:100%;
  }
}
@media (max-width:250px)
{
  div.nav div.title
  {
    display:none;
  }
}
div.main div.mainwrapper
{
  width:100%;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items:center;
  justify-content:space-around;
}
@media (min-width:800px)
{
  div.main div.mainwrapper
  {
    position:relative;
    top:50%;
    left:0;
    transform:translateY(-50%);
  }
}
@media (min-height:500px) and (min-width:400px)
{
  div.main div.mainwrapper
  {
    padding-top:3vh;
  }
}
div.main div.proname,div.main div.name,div.main div.status
{
  width:100%;
  text-align:center;
  color:#FFFFFF;
}
div.main div.proname
{
  font-size:42px;
  font-family:"Lemon","Roboto",sans-serif;
}
div.main div.name
{
  font-size:20px;
  font-family:"Roboto",sans-serif;
  letter-spacing:1px;
  opacity:0.6;
}
div.main div.status
{
  font-size:20px;
  font-family:"Roboto",serif;
  padding-top:20px;
  letter-spacing:1px;
}
div.clockwrapper
{
  width:100%;
  padding:10px;
  position:relative;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  box-sizing:border-box;
  text-align:center;
  justify-content:center;
}
div.clockwrapper *
{
  color:#FFFFFF;
}
div.clock
{
  width:auto;
  height:100%;
  background:#1976D2;
  display:inline-flex;
  flex-direction:column;
  margin:10px;
  border-radius:15px;
  overflow:hidden;
  border:1px solid rgba(0,0,0,0.3);
}
div.clock *
{
  text-align:center;
  font-family:"Roboto";
}
div.clock div.w
{
  background:rgba(255,255,255,0.2);
  padding:10px;
  font-size:25px;
  font-family:"Roboto",sans-serif;
  box-sizing:border-box;
  border-bottom:1px solid rgba(0,0,0,0.5);
}
div.clock div.wrapper
{
  display:flex;
  flex-direction:row;
  padding:10px;
}
div.clock div.d
{
  margin:auto;
  font-size:70px;
  padding:2px;
  font-weight:900;
}
div.clock div.wrapper div.f,div.clock div.wrapper div.y
{
  width:100%;
  padding-bottom:5px;
  padding-left:5px;
  padding-right:5px;
  font-size:20px;
  font-weight:100;
}
div.time
{
  margin:10px;
  background:#1976D2;
  display:flex;
  flex-direction:column;
  padding:10px;
  box-sizing:border-box;
  justify-content:center;
  font-family:"Roboto";
  border-radius:15px;
  overflow:hidden;
  border:1px solid rgba(0,0,0,0.3);
}
div.time div.first
{
  font-size:34px;
  text-align:center;
  word-wrap:normal;
  white-space:nowrap;
}
div.time div.s
{
  font-size:20px;
  opacity:0.5;
}
div.time div.mer
{
  font-size:20px;
}
div.timerunner
{
  width:100%;
  height:auto;
  margin-top:30px;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  text-align:center;
  justify-content:center;
  align-items:center;
}
div.timerunner div.a,div.timerunner div.b
{
  width:auto;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
}
div.timerunner svg
{
  --x:70px;
  width:var(--x);
  height:var(--x);
  margin:auto;
}
@media (min-width:220px)
{
  div.timerunner svg
  {
    --x:100px;
  }
}
@media (min-width:450px)
{
  div.timerunner svg
  {
    --x:150px;
  }
}
